input {
    box-sizing: border-box;
    display: block;
    width: 250px;
    padding: 10px;
    border: 1px solid #434343;
    border-radius: 3px;
    font-size: 14px;
    margin: 10px auto;
}

table {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    border: 1px solid #434343;
    border-spacing: 0px;
}

thead {
    background-color: #bebebe;
}

thead td {
    border-left: 1px solid #434343;
}

thead td:first-child {
    border: none;
}

.btn_enter {
    background-color: #2fdf2f;
    color: #fff;
    border: 0px;
}

.btn_action {
    background-color: #2fdf2f;
    color: #fff;
    border: 0px;
}

.btn_reg {
    background-color: #cf2222;
    color: #fff;
    border: 0px;
}

.btn_exit {
    background-color: #cf2222;
    color: #fff;
    border: 0px;
}

.btn_generate {
    background-color: #223ccf;
    color: #fff;
    border: 0px;
}

.result {
    width: 250px;
    margin: 10px auto;
}